.page-header
  %h1
    Map Module
%p
  The two mandatory elements for YAML files are the parser and map modules. The parser module is used when Avicore reads a YAML file. It needs to know when it was written so that it can use appropriate methods to understand outdated modules and features. The map module contains static variables such as the map name, version and authors.

:yaml
  map:
    name: "Map Name"
    version: 1.0.0
    authors:
    # KyloCode
    - uuid: 8242e55e-cc6a-458a-b272-a2b34918045f
      role: "YAML author."
    # Notch
    - uuid: 069a79f4-44e9-4726-a5be-fca90e38aaf5
      role: "Created Minecraft."

%h5.elements Map Elements
%table.table.table-striped
  %tr
    %th Element
    %th Description
    %th Value
    %th Default
  %tr
    %td
      %code name
    %td
      = label "Required", "danger"
      The name of the map.
    %td
      = label "String"
    %td
  %tr
    %td
      %code version
    %td
      = label "Required", "danger"
      The version of the map.
    %td
      = link_to "Semantic version", "http://semver.org/"
    %td
  %tr
    %td
      %code authors
    %td
      = label "Required", "danger"
      A list of Minecraft users who created the map.
    %td
      = label "List"
      = link_to "Authors", "#authors"
    %td

.space

.page-header#authors
  %h3 Authors
%p
  Every map must have a list of the Minecraft users who have contributed to the map in some way. A minimum of one author is required. Each author must have their Minecraft UUID and the role they played in the creation of the map specified.

%h5.elements Author Elements
%table.table.table-striped
  %tr
    %th Element
    %th Description
    %th Value
    %th Default
  %tr
    %td
      %code uuid
    %td
      = label "Required", "danger"
      The author's Minecraft user UUID.
    %td
      = link_to "UUID", "http://mcuuid.com"
    %td
  %tr
    %td
      %code role
    %td
      = label "Required", "danger"
      A brief description of how the user contributed.
    %td
      = label "String"
    %td