.page-header
  %h1
    Regions

%p
  Map creators typically use regions to create references for other modules. Note that the elements required for a region are dependent upon the shape of the region. For example, spheres require a defined center and radius, whereas a cuboid requires two points to create a three dimensional shape. Refer to the
  = link_to "shapes", "#shapes"
  section below.

%h5.elements Region Elements
%table.table.table-striped
  %tr
    %th Element
    %th Description
    %th Value
    %th Default
  %tr
    %td
      %code id
    %td
      = label "Required", "danger"
      The namespace unique identifier for the spawn.
    %td
      = label "ID"
    %td
  %tr
    %td
    %td
      = label "Required", "danger"
      Shape-specific elements.
    %td
      = link_to "Shape elements", "#shapes"
    %td

:yaml
  regions:
  - id: center-area
    point: -74, 141, 255
  - id: stone-castle
    sphere: -64, 121, 215
    radius: 8
  - id: palace
    cuboid:
    - 12, 121, 215
    - -64, 141, 255
  - id: tower
    cylinder: -82, 121, 215
    radius: 3
    height: 25


.space

.page-header#shapes
  %h3 Shapes

%p 
  There are a number of shapes of which a region can take form. Depending on the map, any number of regions may be used to properly encapsulate the shape of the buildings, areas and other features that exist.

%h4.space Point
%p
  A point is a single block in the map.

%h5.elements Point Elements
%table.table.table-striped
  %tr
    %th Element
    %th Description
    %th Value
  %tr
    %td
      %code point
    %td
      = label "Required", "danger"
      The coordinate of the block.
    %td
      = label "Location"

:yaml
  - id: example-region
    point: 42, 80, -12

%h4.space Cuboid
%p
  A three dimensional box. Used to select rectangular buildings and areas.

%h5.elements Cuboid Elements
%table.table.table-striped
  %tr
    %th Element
    %th Description
    %th Value
  %tr
    %td
      %code cuboid
    %td
      = label "Required", "danger"
      A list of the region's two corners. Do not specify more than two values.
    %td
      = label "List"
      = label "Location"

:yaml
  - id: example-region
    cuboid:
    - 12, 52, 18
    - -19, 64, -21

%h4.space Sphere
%p
  A sphere with a specified center and radius.

%h5.elements Sphere Elements
%table.table.table-striped
  %tr
    %th Element
    %th Description
    %th Value
    %th Default
  %tr
    %td
      %code sphere
    %td
      = label "Required", "danger"
      The center location of the sphere.
    %td
      = label "Location"
    %td
  %tr
    %td
      %code radius
    %td
      = label "Required", "danger"
      The radius of the sphere.
    %td
      = label "Integer"
    %td
  %tr
    %td
      %code hollow
    %td
      Toggle selection as hollow or filled.
    %td
      = label "Boolean"
    %td
      false

:yaml
  - id: example-region
    sphere: 18, 64, 12
    radius: 15

%h4.space Cylinder
%p
  A vertical cylinder with a specified center, radius and height.

%h5.elements Cylinder Elements
%table.table.table-striped
  %tr
    %th Element
    %th Description
    %th Value
    %th Default
  %tr
    %td
      %code cylinder
    %td
      = label "Required", "danger"
      The base location of the cylinder.
    %td
      = label "Location"
    %td
  %tr
    %td
      %code radius
    %td
      = label "Required", "danger"
      The radius of the cylinder.
    %td
      = label "Integer"
    %td
  %tr
    %td
      %code height
    %td
      = label "Required", "danger"
      The height of the cylinder.
    %td
      = label "Integer"
    %td
  %tr
    %td
      %code hollow
    %td
      Toggle selection as hollow or filled.
    %td
      = label "Boolean"
    %td
      false

:yaml
  - id: example-region
    cylinder: 18, 64, 12
    radius: 3
    height: 15