.page-header
  %h1
    Spawns

%p Spawns are used to define where players should be teleported when the match starts, on death, or when they join a team during an ongoing match.
%p Multiple spawns may be specified for each team and multiple locations for each spawn. Spawn locations will be selected in order of priority, ignoring spawns where the filter conditions are not met.
= label "Be Aware:", "danger"
If no regions are found after filtering, an error will occur! Ensure that conditions are met for at least one spawn for each team.

%h5.elements Spawn Elements
%table.table.table-striped
  %tr
    %th Element
    %th Description
    %th Value
    %th Default
  %tr
    %td
      %code id
    %td
      = label "Required", "danger"
      The namespace unique identifier for the spawn.
    %td
      = label "ID"
    %td
  %tr
    %td
      %code team
    %td
      The ID of the team this spawn applies.
    %td
      = label "Reference"
    %td
      spectators
  %tr
    %td
      %code filter
    %td
      The ID of a filter to test when selecting a spawn.
    %td
      = label "Reference"
    %td
  %tr
    %td
      %code priority
    %td
      The priority of this spawn, greater values indicate higher priorities.
    %td
      = label "Integer"
    %td
      0
  %tr
    %td
      %code yaw
    %td
      The horizontal direction the player should face on spawn.
    %td
      = label "Number"
    %td
      0.0
  %tr
    %td
      %code pitch
    %td
      The vertical angle the player should look towards when spawned.
    %td
      = label "Number"
    %td
      0.0
  %tr
    %td
      %code look
    %td
      The location players should look at on spawn. This overrides the yaw and pitch values.
    %td
      = label "Location"
    %td
  %tr
    %td
      %code regions
    %td
      = label "Required", "danger"
      A list of potential regions where players should spawn. One is selected at random.
    %td
      = label "List"
      = link_to "Regions", "/modules/regions#lists"
    %td

:yaml
  spawns:
  - id: default
    yaw: 90
    regions:
    - point: -74.5, 141, 255.5
  - id: red-spawn
    team: red
    yaw: 0
    regions:
    - point: -75, 80, 176.5
  - id: blue-spawn
    team: blue
    yaw: 180
    regions:
    - point: -74, 80, 335.5
