<!doctype html>
%html
  %head
    = partial 'layouts/head'
  %body{:class => page_classes}

    %header.navbar.navbar-default
      .container
        .navbar-header
          %a.navbar-brand{:href => '/'}
            = image_tag 'logo.png', :width => '50'
            Atlas Map Documentation

          %button.navbar-toggle{:type => 'button', 'data-target' => '.navbar-collapse', 'data-toggle' => 'collapse'}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        %nav.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li{:class => current_page.url.length <= 4 ? 'active' : ''}
              = link('/') do
                %i.fa.fa-home
                Home
            %li{:class => current_page.url.include?('/modules') ? 'active' : ''}
              = link('/modules/map') do
                %i.fa.fa-cubes
                = t('pages.modules')
            %li{:class => current_page.url.include?('/references') ? 'active' : ''}
              = link('/references/colors') do
                %i.fa.fa-book
                = t('pages.references')
            %li{:class => current_page.url.include?('/examples') ? 'active' : ''}
              = link('/examples') do
                %i.fa.fa-gear
                = t('pages.examples')

    = yield

    = partial 'layouts/footer'