= wrap_layout :layout do
  .jumbotron
    .container
      %h1
        Elements
      %p
        All the components that go into the creation of a map configuration file.

  .container
    .row
      .col-sm-3
        %ul.nav.nav-pills.nav-stacked.nav-elements
          - any_subtitles = false
          - content_for(:subtitles).each do |title|
            - if title.is_a?(String)
              - any_subtitles = true
              %li
                = link_slug(title, title)
          - if any_subtitles
            %br/
          - data.modules.each do |section|
            %li
              %h4
                = section.name
            - section.modules.each do |mod|
              %li{:class => current_page.url.end_with?(mod.path + '/') ? 'active' : ''}
                = link(mod.path) do
                  = t(:pages)[mod.name.downcase.to_sym]
            .space
      .col-sm-9
        .module
          = yield
    