%h5.attributes
  = header
.table-responsive
  %table.table.table-condensed
    %thead
      %tr
        %th{:style => 'width: 18%'}= rowNames[0]
        %th= rowNames[1]
        %th= rowNames[2]
        - if default
          %th{:style => 'width: 13%'}= rowNames[3]
    %tbody
      = capture(&block)
