= attribute_row_id(false)
= attribute_row(true) do
  = attribute_name('name')
  = attribute_desc(t('modules.destroyable.name'))
  = attribute_type(:localizable)
  = attribute_column
= attribute_row(true) do
  = attribute_name('materials')
  = attribute_desc(t('modules.destroyable.materials'))
  = attribute_type(:materials)
  = attribute_column
= attribute_row(true) do
  = attribute_name('owner')
  = attribute_desc(t('modules.destroyable.owner'))
  = attribute_type_element(:team)
  = attribute_column
= attribute_row(true) do
  = attribute_name('region')
  = attribute_desc(t('modules.destroyable.region'))
  = attribute_type_element(:iterable_region)
  = attribute_column
= attribute_row do
  = attribute_name('completed-state')
  = attribute_desc(t('modules.destroyable.completed'))
  = attribute_type(:material)
  = attribute_default('air')
= attribute_row do
  = attribute_name('completion')
  = attribute_desc(t('modules.destroyable.completion'))
  = attribute_type do
    [0, 100]
  = attribute_default(1.0)
= attribute_row do
  = attribute_name('fireworks')
  = attribute_desc(t('modules.destroyable.fireworks'))
  = attribute_type(:boolean)
  = attribute_default('true')
= attribute_row do
  = attribute_name('destroyable')
  = attribute_desc(t('modules.destroyable.destroyable'))
  = attribute_type(:boolean)
  = attribute_default('false')
= attribute_row do
  = attribute_name('repairable')
  = attribute_desc(t('modules.destroyable.repairable'))
  = attribute_type(:boolean)
  = attribute_default('false')
= attribute_row do
  = attribute_name('any-repair')
  = attribute_desc(t('modules.destroyable.any-repair'))
  = attribute_type(:boolean)
  = attribute_default('false')
= attribute_row do
  = attribute_name('break-check')
  = attribute_desc(t('modules.destroyable.break-check'))
  = attribute_type_element(:check)
  = attribute_column
= attribute_row do
  = attribute_name('repair-check')
  = attribute_desc(t('modules.destroyable.repair-check'))
  = attribute_type_element(:check)
  = attribute_column
= attribute_row do
  = attribute_name('first-phase')
  = attribute_desc(t('modules.destroyable.phase'))
  = attribute_column do
    = label("Destroyable Phase")
  = attribute_column
= attribute_row do
  = attribute_name('points')
  = attribute_desc(t('modules.destroyable.points'))
  = attribute_type(:number)
  = attribute_column
= attribute_row do
  = attribute_name('points-per-block')
  = attribute_desc(t('modules.destroyable.points-block'))
  = attribute_type(:number)
  = attribute_column
