.jumbotron
  .container
    %h1
      = t('home.title')
    %p
      = t('home.lead')

.container
  .page-header
    %h2 Welcome!
  .row
    .col-lg-8
      %h4 What is Atlas?
      %p
        = t('home.main')

      %br
      %h4 How can I use this website?
      = t('home.about')

      %table.table.table-striped
        %tbody
          %tr
            %td
              = link_to('Atom', 'https://atom.io')
            %td
              = t('home.atom')
          %tr
            %td
              = link_to('Sublime Text', 'https://www.sublimetext.com')
            %td
              = t('home.sublime')
          %tr
            %td
              = link_to('Lime Text', 'http://limetext.org')
            %td
              = t('home.lime')
          %tr
            %td
              = link_to('Brackets', 'http://brackets.io')
            %td
              = t('home.brackets')