= title('Authors')

%p
  The authors element is provided to give credit to the people that made contributions to the creation of a map.
  Their minecraft usernames are listed in a variety of locations while the map is being played.

:xml
  <authors>
    <author uuid="069a79f444e94726a5befca90e38aaf5" /> <!-- Notch -->
    <author uuid="8242e55ecc6a458ab272a2b34918045f" role="Assistance with map design." /> <!-- funkystudios -->
  </authors>

= attribute_table('Author Attributes', false) do
  = attribute_row(true) do
    = attribute_name('uuid')
    = attribute_desc('The Minecraft UUID that identifies a player.')
    = attribute_type(:string)
  = attribute_row(true) do
    = attribute_name('role')
    = attribute_desc('The role this author played in the creation of the map.')
    = attribute_type(:string)