= title('Map Element')

%p
  This is the main, root element the all maps must provide. Every subsequent element is nested inside the map element.
  Note that for an XML file to be valid, it must contain the
  :xmlcode
    <?xml version="1.0"?>
  header.

:xml
  <?xml version="1.0"?>
  <map name="Revolution" version="1.5.3">
    ...
  </map>

= attribute_table('Map Attributes', false) do
  = attribute_row(true) do
    = attribute_name('name')
    = attribute_desc('The name of the map.')
    = attribute_type(:string)
  = attribute_row(true) do
    = attribute_name('version')
    = attribute_desc('The version of the map.')
    = attribute_column do
      = link_to('Semantic version', 'http://semver.org')