= title('Spawns')

%p
  Spawns are regions where players spawn into the map.

:xml
  <spawns>
    <!-- Spectator spawn -->
    <spawn look="18,32,22">
      <region>
        <point>32,42,26</point>
        <cuboid min="38,50,42" max="28,40,32" />
      </region>
    </spawn>

    <!-- Team spawns -->
    <spawn team="lime-team" look="18,32,22" region="lime-spawn"/>
    <spawn team="purple-team" look="18,32,22" region="purple-spawn"/>
  </spawns>

= attribute_table('Spawn Attributes') do
  = attribute('team', 'The team of which this spawn should apply.', :id)
  = attribute('region', ['A reference to a region into which players should spawn.', 'This is not required if a region is specified inside the spawn element.'], :id, nil, :required)
  = attribute('look', ['The coordinate that the player looks at when spawned', 'This value overrides the pitch and yaw attributes.'], 'X,Y,Z')
  = attribute('yaw', 'The yaw (horizontal angle) the player looks when spawned.', '[-180, 180]', '0')
  = attribute('pitch', 'The pitch (vertical angle) the player looks when spawned.', '[-90, 90]', '0')

= element_table('Spawn Elements') do
  %tr
    %td
      :xmlcode
        <region></region>
    %td
      A region into which players should spawn.
    %td
      = link_to 'Bounded region', '/elements/regions'