= title('Spawns')

%p
  Spawns are regions where players spawn into the map.

:xml
  <spawns>
    <!-- Spectator spawn -->
    <spawn look="18,32,22">
      <region>
        <point>32,42,26</point>
        <cuboid min="38,50,42" max="28,40,32" />
      </region>
    </spawn>

    <!-- Team spawns -->
    <spawn team="lime-team" look="18,32,22" region="lime-spawn"/>
    <spawn team="purple-team" look="18,32,22" region="purple-spawn"/>
  </spawns>

= attribute_table('Spawn Attributes') do
  = attribute_row do
    = attribute_name('team')
    = attribute_desc('The team of which this spawn should apply.')
    = attribute_type_element(:team)
    = attribute_column
  = attribute_row(true) do
    = attribute_name('region')
    = attribute_desc('The region into which players should spawn.', 'This is only required if a region is not specified within the spawn element.')
    = attribute_type_element(:region, 'Bounded region')
    = attribute_column
  = attribute_row do
    = attribute_name('look')
    = attribute_desc('The coordinate that the player looks at when spawned.', 'This value overrides the pitch and yaw attributes.')
    = attribute_type(:xyz)
    = attribute_column
  = attribute_row do
    = attribute_name('yaw')
    = attribute_desc('The yaw (horizontal angle) the player looks when spawned.')
    = attribute_type do
      [-180, 180]
    = attribute_default(0)
  = attribute_row do
    = attribute_name('pitch')
    = attribute_desc('The pitch (vertical angle) the player looks when spawned.')
    = attribute_type do
      [-90, 90]
    = attribute_default(0)

-#= element_table('Spawn Elements') do
-#  %tr
-#    %td
-#      :xmlcode
-#        <region>
-#    %td
-#      A region into which players should spawn.
-#    %td
-#      = link_to 'Bounded region', '/elements/regions'