= title('Teams')

%p
  Teams are defined through the teams module. Each has an unique ID and name association. The team name is
  specified as text inside each
  :xmlcode
    <team>
  element.

:xml
  <teams>
    <team id="lime-team" color="lime" min="16" max="20">Lime</team>
    <team id="purple-team" color="purple" min="16" max="20">Purple</team>
  </teams>


= attribute_table('Team Attributes') do
  = attribute_row(true) do
    = attribute_name('color')
    = attribute_desc('The color of the team.')
    = attribute_column do
      = link_to 'Team color', '/references/team_color'
    = attribute_column
  = attribute_row(true) do
    = attribute_name('min')
    = attribute_desc('The minimum number of players on the team for the match to start.')
    = attribute_type(:number)
    = attribute_column
  = attribute_row(true) do
    = attribute_name('max')
    = attribute_desc('The soft maximum number of players allowed on the team.', 'Premium users and staff are able to join beyond this value.')
    = attribute_type(:number)
    = attribute_column
  = attribute_row do
    = attribute_name('max-overfill')
    = attribute_desc('The maximum number of players allowed on the team.')
    = attribute_type(:number)
    = attribute_default('1.25 * max')
  = attribute_row do
    = attribute_name('spectator')
    = attribute_desc('Set this team as a spectator team', 'This can break certain maps and should be used with caution.')
    = attribute_type(:boolean)
    = attribute_default('false')