= title(t('pages.authors'))

%p
  = t('modules.authors.text')

:xml
  <authors>
    <author uuid="069a79f444e94726a5befca90e38aaf5" /> <!-- Notch -->
    <author uuid="8242e55ecc6a458ab272a2b34918045f" role="Assistance with map design." /> <!-- funkystudios -->
  </authors>

= attribute_table(t(:modules)[:authors][:attributes], false) do
  = attribute_row(true) do
    = attribute_name('uuid')
    = attribute_desc(t('modules.authors.attributes_uuid'))
    = attribute_type(:text)
  = attribute_row do
    = attribute_name('role')
    = attribute_desc(t('modules.authors.attributes_role'))
    = attribute_type(:localizable)