= title('Broadcasts')

%p
  = t('modules.broadcasts.text')

:xml
  <broadcasts>
    <broadcast format="alert" interval="2m">{broadcasts.some-broadcast}</broadcast>
    <broadcast format="alert" interval="2m">{broadcasts.some-broadcast-2}</broadcast>
  </broadcasts>

= attribute_table(t('modules.broadcasts.attributes')) do
  = attribute_row do
    = attribute_name('format')
    = attribute_desc(t('modules.broadcasts.format'))
    = attribute_desc(label(t('modules.broadcasts.formats.format')))
    = attribute_default("DEFAULT")
  = attribute_row(true) do
    = attribute_name('interval')
    = attribute_desc(t('modules.broadcasts.interval'))
    = attribute_type(:duration)
    = attribute_column
  = attribute_row do
    = attribute_name('repetitions')
    = attribute_desc(t('modules.broadcasts.repetitions'))
    = attribute_type(:number)
    = attribute_column
  = attribute_row do
    = attribute_name('check')
    = attribute_desc(t('modules.broadcasts.check'))
    = attribute_type_element(:check)
    = attribute_column

= subtitle(t('modules.broadcasts.formats.format'))

%p
  = t('modules.broadcasts.formats.text')

= attribute_table(nil, false, ["Name", "Format"]) do
  = attribute_row do
    = attribute_desc('default')
    = attribute_default("[*] [TEXT]")
  = attribute_row(true) do
    = attribute_desc('tip')
    = attribute_default("[Tip] [TEXT]")
  = attribute_row do
    = attribute_desc('alert')
    = attribute_default("[Alert] [TEXT]")
