= title(t('pages.checks'))

= t('modules.checks.text')

= subtitle(t('modules.checks.variables.variables'))
%p
=  t('modules.checks.variables.text')

= attribute_table(t('modules.checks.variables.variables'), false, [t('table.name'), t('table.description'), t('table.information')]) do
  = attribute_row do
    = attribute_name("Attacker")
    = attribute_desc(t('modules.checks.variables.attacker-desc'))
    = attribute_type(:player)
  = attribute_row do
    = attribute_name('Damage')
    = attribute_desc(t('modules.checks.variables.damage-desc'))
    = attribute_desc(label('Damage Cause')) do
      = link_to('Damage Types' ,'https://hub.spigotmc.org/javadocs/spigot/org/bukkit/event/entity/EntityDamageEvent.DamageCause.html')
  = attribute_row do
    = attribute_name('Entity')
    = attribute_desc(t('modules.checks.variables.entity-desc'))
    = attribute_desc(label('Entity Type')) do
      = link_to('Entity Types' ,'https://hub.spigotmc.org/javadocs/bukkit/org/bukkit/entity/EntityType.html')
  = attribute_row do
    = attribute_name('Item')
    = attribute_desc(t('modules.checks.variables.item-desc'))
    = attribute_desc(label('Item')) do
      = link("Item Attributes", "/modules/loadouts")
  = attribute_row do
    = attribute_name('Location')
    = attribute_desc(t('modules.checks.variables.location-desc'))
    = attribute_type(:xyz)
  = attribute_row do
    = attribute_name('Material')
    = attribute_desc(t('modules.checks.variables.material-desc'))
    = attribute_desc(label('Material')) do
      = link_to("Material Types", "https://hub.spigotmc.org/javadocs/bukkit/org/bukkit/Material.html")
  = attribute_row do
    = attribute_name('Player')
    = attribute_desc(t('modules.checks.variables.player-desc'))
    = attribute_type(:player)
  = attribute_row do
    = attribute_name('Spawn Reason')
    = attribute_desc(t('modules.checks.variables.spawn-desc'))
    = attribute_desc(label('Spawn Reason')) do
      = link_to("Spawn Reason Types", "https://hub.spigotmc.org/javadocs/bukkit/org/bukkit/event/entity/CreatureSpawnEvent.SpawnReason.html")
  = attribute_row do
    = attribute_name('Victim')
    = attribute_desc(t('modules.checks.variables.victim-desc'))
    = attribute_type(:player)

= subtitle(t('modules.checks.static.static'))

%p
  = t('modules.checks.static.text')

= attribute_table(t('modules.checks.check'), false, [t('table.type'), t('table.description')]) do
  = attribute_row do
    = attribute_name('Always')
    = attribute_desc(t('modules.checks.static.always-desc'))
  = attribute_row do
    = attribute_name('Never')
    = attribute_desc(t('modules.checks.static.never-desc'))



= subtitle(t('modules.checks.types.types'))

%p
  = t('modules.checks.types.text')

= attribute_table(t('modules.checks.check'), [t('table.type'), t('table.description'), t('table.notes')]) do
  = attribute_row do
    = attribute_name('Attacker')
    = attribute_desc(t('modules.checks.types.attacker-desc'))
    = attribute_column
  = attribute_row do
    = attribute_name('Carrying')
    = attribute_desc(t('modules.checks.types.carrying-desc'))
    = attribute_desc(t('modules.checks.types.carrying-notes'))
  = attribute_row do
    = attribute_name('Damage')
    = attribute_desc(t('modules.checks.types.damage-desc'))
    = attribute_column
  = attribute_row do
    = attribute_name('Entity')
    = attribute_desc(t('modules.checks.types.entity-desc'))
    = attribute_column
  = attribute_row do
    = attribute_name('Holding')
    = attribute_desc(t('modules.checks.types.holding-desc'))
    = attribute_desc(t('modules.checks.types.holding-notes'))
  = attribute_row do
    = attribute_name('Inside')
    = attribute_desc(t('modules.checks.types.inside-desc'))
    = attribute_desc(t('modules.checks.types.inside-notes'))
  = attribute_row do
    = attribute_name('Item')
    = attribute_desc(t('modules.checks.types.item-desc'))
    = attribute_desc(t('modules.checks.types.item-notes'))
  = attribute_row do
    = attribute_name('Material')
    = attribute_desc(t('modules.checks.types.material-desc'))
    = attribute_desc(t('modules.checks.types.material-notes'))
  = attribute_row do
    = attribute_name('Objective')
    = attribute_desc(t('modules.checks.types.objective-desc'))
    = attribute_desc(t('modules.checks.types.objective-notes'))
  = attribute_row do
    = attribute_name('Random')
    = attribute_desc(t('modules.checks.types.random-desc'))
    = attribute_desc(t('modules.checks.types.random-notes'))
  = attribute_row do
    = attribute_name('Sometimes')
    = attribute_desc(t('modules.checks.types.sometimes-desc'))
    = attribute_column
  = attribute_row do
    = attribute_name('Spawn')
    = attribute_desc(t('modules.checks.types.spawn-desc'))
    = attribute_column
  = attribute_row do
    = attribute_name('Team')
    = attribute_desc(t('modules.checks.types.team-desc'))
    = attribute_column
  = attribute_row do
    = attribute_name('Time')
    = attribute_desc(t('modules.checks.types.time-desc'))
    = attribute_desc(t('modules.checks.types.time-notes'))
  = attribute_row do
    = attribute_name('Victim')
    = attribute_desc(t('modules.checks.types.victim-desc'))
    = attribute_column
  = attribute_row do
    = attribute_name('Wearing')
    = attribute_desc(t('modules.checks.types.wearing-desc'))
    = attribute_desc(t('modules.checks.types.wearing-notes'))
  = attribute_row do
    = attribute_name('Weather')
    = attribute_desc(t('modules.checks.types.weather-desc'))
    = attribute_desc(t('modules.checks.types.weather-notes'))


= subtitle(t('modules.checks.combinations.combinations'))

%p
  = t('modules.checks.combinations.text')

= attribute_table(t('modules.checks.check'), false, [t('table.type'), t('table.description')]) do
  = attribute_row do
    = attribute_name('All')
    = attribute_desc(t('modules.checks.combinations.all-desc'))
  = attribute_row do
    = attribute_name('Any')
    = attribute_desc(t('modules.checks.combinations.any-desc'))

= subtitle(t('modules.checks.modifiers.modifiers'))

%p
  = t('modules.checks.modifiers.text')

= attribute_table(t('modules.checks.modifiers.modifier'), false, [t('table.type'), t('table.description')]) do
  = attribute_row do
    = attribute_name('Allow')
    = attribute_desc(t('modules.checks.modifiers.allow-desc'))
  = attribute_row do
    = attribute_name('Deny')
    = attribute_desc(t('modules.checks.modifiers.deny-desc'))
  = attribute_row do
    = attribute_name('Not')
    = attribute_desc(t('modules.checks.modifiers.not-desc'))
