= title(t('pages.compasses'))

= t('modules.compasses.text')
= t('modules.compasses.text-2')


:xml
  <compasses>
    <!-- Sets compass to nearest player who has gold. -->
    <!-- If no players have gold the compass will point to the location. -->
    <compass target="enemy" check="has-gold"/>
    <compass target="1,1,1"/>
  </compasses>

  <checks>
    <carrying id="has-gold" material="gold ingot"/>
  </checks>

= attribute_table(t('modules.compasses.attributes'), false) do
  = attribute_row(true) do
    = attribute_name('target')
    = attribute_desc(t('modules.compasses.target-desc'))
    = attribute_type(:text)
  = attribute_row do
    = attribute_name('check')
    = attribute_desc(t('modules.compasses.check-desc'))
    = attribute_type_element(:check)
