= title(t('pages.compasses'))

%p
  The compass module is used to set the location of a player's compass based on different conditions.

%p
  The module is defined by the
  :xmlcode
    <compasses/>
  tag. Multiple compasses can be defined in this tag and checks can be used in order to determine who the compasses points to.

:xml
  <compasses>
    <!-- Sets compass to nearest player who has gold. -->
    <!-- If no players have gold the compass will point to the location. -->
    <compass target="enemy" check="has-gold"/>
    <compass target="1,1,1"/>
  </compasses>

  <checks>
    <carrying id="has-gold" material="gold ingot"/>
  </checks>

= attribute_table("Compass Attributes", false) do
  = attribute_row(true) do
    = attribute_name('target')
    = attribute_desc("The location for the compass to target. You can also provide <code>enemy</code> which will target the nearest enemy.")
    = attribute_type(:string)
  = attribute_row do
    = attribute_name('check')
    = attribute_desc("Check to be run on the player before targeting them.")
    = attribute_type_element(:check)
