= title(t('pages.elimination'))

%p
  Use this module to limit the number of lives a player has on the map.

:xml
  <elimination lives="3"/>

= attribute_table("Elimination Attributes") do
  = attribute_row(true) do
    = attribute_name('lives')
    = attribute_desc("The amount of lives each player has.")
    = attribute_type(:number)
    = attribute_default(1)
