= title(t('pages.elimination'))

%p
  = t('modules.elimination.text-1')

:xml
  <elimination lives="3"/>

= attribute_table("Elimination Attributes") do
  = attribute_row(true) do
    = attribute_name('lives')
    = attribute_desc(t('modules.elimination.lives-desc'))
    = attribute_type(:number)
    = attribute_default(1)
