= title(t('pages.elimination'))

%p
  = t('modules.elimination.text')

:xml
  <elimination lives="3"/>

= attribute_table("Elimination Attributes") do
  = attribute_row(true) do
    = attribute_name('lives')
    = attribute_desc(t('modules.elimination.lives-desc'))
    = attribute_type(:number)
    = attribute_default(1)
  = attribute_row do
    = attribute_name('enabled')
    = attribute_desc(t('modules.elimination.enabled-desc'))
    = attribute_type(:boolean)
    = attribute_default(true)
  = attribute_row do
    = attribute_name('strike-on-eliminate')
    = attribute_desc(t('modules.elimination.strike-on-eliminate-desc'))
    = attribute_type(:boolean)
    = attribute_default(false)
  = attribute_row do
    = attribute_name('check')
    = attribute_desc(t('modules.elimination.check-desc'))
    = attribute_type_element(:check)
    = attribute_column
