= title(t('pages.imports'))

%p
  - tag = capture do
    :xmlcode
            <import>

  - tag2 = capture do
    :xmlcode
            <map>

  = t('modules.imports.text') % {:tag => tag, :tag2 => tag2}

:xml
  <?xml version="1.0"?>
  <map name="Revolution" version="1.5.3">
    <import src="defaults.xml"/>
    <import src="rev-classes.xml" local="true"/>

    ...

  </map>

= attribute_table('Import Attributes') do
  = attribute_row(true) do
    = attribute_name('src')
    = attribute_desc('The path to another map configuration file.')
    = attribute_type(:string)
    = attribute_column
  = attribute_row do
    = attribute_name('local')
    = attribute_desc('If set to to true, it will search for the import in the same directory as the map.xml, otherwise it searches in the shared maps directory.')
    = attribute_type(:boolean)
    = attribute_default('false')