= title(t('pages.includes'))

%p
  - tag = capture do
    :xmlcode
            <include>

  - tag2 = capture do
    :xmlcode
            <map>

  = t('modules.includes.text') % {:tag => tag, :tag2 => tag2}

:xml
  <?xml version="1.0"?>
  <map name="Revolution" version="1.5.3">
    <include src="defaults.xml"/>
    <include src="rev-classes.xml" local="true"/>

    ...

  </map>

= attribute_table(t('modules.includes.attributes')) do
  = attribute_row(true) do
    = attribute_name('src')
    = attribute_desc(t('modules.includes.src-desc'))
    = attribute_type(:text)
    = attribute_column
  = attribute_row do
    = attribute_name('local')
    = attribute_desc(t('modules.includes.local-desc'))
    = attribute_type(:boolean)
    = attribute_default('false')
