= title(t('pages.localization'))

:xml
  <locales>
    <locale lang="en">
      <errors>
        <build-north>You cannot build in the North.</build-north>
      </errors>
    </locale>

    <locale lang="es">
      <errors>
        <build-north>No puedes construir en el norte.</build-north>
      </errors>
    </locale>
  </locales>


  <!-- then you can do -->
  <zones>
    <zone build="never" region="the-north">
      <build-message>{errors.build-north}</build-message>
    </zone>
  </zones>

= t('modules.localization.text')

= attribute_table(t('modules.localization.attributes'), false) do
  = attribute_row(true) do
    = attribute_name('lang')
    = attribute_desc(t('modules.localization.lang'))
    = attribute_type(:text)
  = attribute_row do
    = attribute_name('country')
    = attribute_desc(t('modules.localization.country'))
    = attribute_type(:text)
