= title('Map Element')

%p
  - @code = capture do
    :xmlcode
      <?xml version="1.0"?>
  = t('modules.map.text') % @code

:xml
  <?xml version="1.0"?>
  <map name="Revolution" version="1.5.3">
    ...
  </map>

= attribute_table(t(:modules)[:map][:attributes], false) do
  = attribute_row(true) do
    = attribute_name('name')
    = attribute_desc(t(:modules)[:map][:attributes_name])
    = attribute_type(:string)
  = attribute_row(true) do
    = attribute_name('version')
    = attribute_desc(t('modules.map.attributes_version'))
    = attribute_column do
      = link_to(t(:modules)[:map][:semantic], 'http://semver.org')
  = attribute_row do
    = attribute_name('description')
    = attribute_desc(t('modules.map.attributes_description'))
    = attribute_type(:string)