= title('Hills')
%p
  Hills are areas that teams fight over for control.

%p
  Hills belong inside of a
  :xmlcode
    <hills/>
  tag within the
  :xmlcode
    <objectives/>
  element. The
  :xmlcode
    <hill/>
  tag inherits attributes from parent
  :xmlcode
    <hills/>
  as demonstrated below.

:xml
  <objectives>
    <hills capture-time="45s">
      <hill name="Left Mountain">
        <capture>
          <cuboid min="50, 23, 50" max="75, 40, 75"/>
        </capture>
        <progress>
          <circle center="62, 22, 62" radius="13"/>
        </progress>
      </hill>

      <hill name="Right Mountain">
        <capture>
          <cuboid min="27, 23, 77" max="50, 40, 100"/>
        </capture>
        <progress>
          <circle center="39, 27, 87" radius="13"/>
        </progress>
      </hill>
    </hills>
  </objectives>

= attribute_table('Hill Attributes') do
  = attribute_row_id(false)
  = attribute_row(true) do
    = attribute_name('name')
    = attribute_desc('The name of the hill.')
    = attribute_type(:localizable)
    = attribute_column
  = attribute_row(true) do
    = attribute_name('capture')
    = attribute_desc('The area that players stand in to capture the area for their team.')
    = attribute_type_element(:region)
    = attribute_column
  = attribute_row(true) do
    = attribute_name('progress')
    = attribute_desc('The area that changes colors according to the owner team.', 'The color of wool, stained glass and stained clay changes colors in this region.')
    = attribute_type_element(:iterable_region)
    = attribute_column
  = attribute_row do
    = attribute_name('capture-rule')
    = attribute_desc('Rule used to determine which team is currently capturing the hill.')
    = attribute_column do
      = link_to 'Capture rule', '#capture_rule'
    = attribute_default('exclusive')
  = attribute_row do
    = attribute_name('capture-time')
    = attribute_desc('The time required for a team to capture the hill completely.')
    = attribute_type(:duration)
    = attribute_default('1m')
  = attribute_row do
    = attribute_name('initial-owner')
    = attribute_desc('Set a team to own the hill on match start.')
    = attribute_type_element(:team)
    = attribute_column
  = attribute_row do
    = attribute_name('fireworks')
    = attribute_desc('Spawn a firework effect and sound to players when the hill is captured.')
    = attribute_type(:boolean)
    = attribute_default('true')
  = attribute_row do
    = attribute_name('permanent')
    = attribute_desc('Hill can only be captured once during a match.')
    = attribute_type(:boolean)
    = attribute_default('false')
  = attribute_row do
    = attribute_name('depreciate')
    = attribute_desc('If a hill is controlled and no team is capturing it, the completion will depreciate over time.')
    = attribute_type(:boolean)
    = attribute_default('false')