= title('Teams')

%p
  = t('modules.teams.text')

%p
  = t('modules.teams.name')

:xml
  <teams>
    <team id="lime-team" color="lime" min="16" max="20">{lime}</team>
    <team id="purple-team" color="purple" min="16" max="20">{purple}</team>
  </teams>


= attribute_table('Team Attributes') do
  = attribute_row_id
  = attribute_row(true) do
    = attribute_name('color')
    = attribute_desc(t('modules.teams.attribute_color'))
    = attribute_column do
      = link t('modules.attributes.team_color'), '/references/colors'
    = attribute_column
  = attribute_row(true) do
    = attribute_name('min')
    = attribute_desc(t('modules.teams.attribute_min'))
    = attribute_type(:number)
    = attribute_column
  = attribute_row(true) do
    = attribute_name('max')
    = attribute_desc(t('modules.teams.attribute_max'), t('modules.teams.attribute_max2'))
    = attribute_type(:number)
    = attribute_column
  = attribute_row do
    = attribute_name('max-overfill')
    = attribute_desc(t('modules.teams.attribute_max_overfill'))
    = attribute_type(:number)
    = attribute_default('1.25 * max')