= title(t(:pages)[:colors])

%p
  = t(:references)[:colors][:desc]

.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th
          = t(:references)[:colors][:color]
        %th
    %tbody
      %tr
        %td
          %code aqua
        %td
          = t(:references)[:colors][:aqua]
      %tr
        %td
          %code red
        %td
      %tr
        %td
          %code blue
        %td
      %tr
        %td
          %code green
        %td
          - lime = capture do
            %code lime
          = t(:references)[:colors][:green] % lime
      %tr
        %td
          %code lime
        %td
          - green = capture do
            %code green
          = t(:references)[:colors][:lime] % green
      %tr
        %td
          %code yellow
        %td
      %tr
        %td
          %code orange
        %td
      %tr
        %td
          %code purple
        %td
      %tr
        %td
          %code pink
        %td

%p
  = t('references.colors.wool')

.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th
          = t(:references)[:colors][:color]
    %tbody
      %tr
        %td
          %code black
      %tr
        %td
          %code blue
      %tr
        %td
          %code brown
      %tr
        %td
          %code cyan
      %tr
        %td
          %code gray
      %tr
        %td
          %code green
      %tr
        %td
          %code light blue
      %tr
        %td
          %code lime
      %tr
        %td
          %code magenta
      %tr
        %td
          %code orange
      %tr
        %td
          %code pink
      %tr
        %td
          %code purple
      %tr
        %td
          %code red
      %tr
        %td
          %code silver
      %tr
        %td
          %code white
      %tr
        %td
          %code yellow