= title(t(:pages)[:colors])

%p
  = t(:references)[:colors][:desc]

.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th
          = t(:references)[:colors][:color]
        %th
    %tbody
      %tr
        %td
          %code aqua
        %td
          = t(:references)[:colors][:aqua]
      %tr
        %td
          %code red
        %td
      %tr
        %td
          %code blue
        %td
      %tr
        %td
          %code green
        %td
          - lime = capture do
            %code lime
          = t(:references)[:colors][:green] % lime
      %tr
        %td
          %code lime
        %td
          = t(:references)[:colors][:lime]
      %tr
        %td
          %code yellow
        %td
      %tr
        %td
          %code orange
        %td
      %tr
        %td
          %code purple
        %td
      %tr
        %td
          %code pink
        %td