.jumbotron
  .container
    %center
      %h1
        Welcome to the Atlas Documentation
      %h5
        The official, curated documentation for Atlas map configuration files. Please choose a language below:

%center
  = link_to '/en', :class => 'btn btn-link btn-lg' do
    %p
      = image_tag('https://lipis.github.io/flag-icon-css/flags/4x3/us.svg', :style => 'width: 32px', :class => 'img-rounded')
    %p
      English

  = link_to '/es', :class => 'btn btn-link btn-lg' do
    %p
      = image_tag('https://lipis.github.io/flag-icon-css/flags/4x3/es.svg', :style => 'width: 32px', :class => 'img-rounded')
    %p
      Español

  = link_to '/de', :class => 'btn btn-link btn-lg' do
    %p
      = image_tag('https://lipis.github.io/flag-icon-css/flags/4x3/de.svg', :style => 'width: 32px', :class => 'img-rounded')
    %p
      Deutsch
